{% extends "base.html" %}

{% block content %}

<li>
    <a href="{% url 'index' %}">Home page</a>
</li>
<li>
    <a href="{% url 'read' %}">Your profile</a>
</li>

<h2>Edit a profile</h2>

<h3>On this page you can edit your profile and preferences. Please be aware than until submit has been clicked no changes will be made to your profile.</h3>

<form method="post" id="volunteerForm">
    {{ form.as_table }}
    {% csrf_token %}
    <button type="submit" class="btn" id="submithold">Submit</button>
</form>

<script src="/static/js/validationscript.js"></script>

{% endblock %}