{% extends "base.html" %}
{% block content %}
<div class="col-12">
<nav class="nav">
    <a class="nav-link" href="{% url 'index' %}">Home page</a>
    <a class="nav-link" href="{% url 'edit' %}">Edit profile</a>
</nav>
</div>
<h2 class="ms-5">Your profile - {{ user.username }} </h3>
<div class="m-5">
<table class="table table-bordered">
    {% for individual in peoples %}
    <tr>
        <td>First Name</td>
        <td>{{ individual.fname }} </td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ individual.lname }}</td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td>{{ individual.phone }}</td>
    </tr>
    <tr>
        <td>Email (optional) </td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Set up profile</td>
        <td>{{ individual.created_on }}</td>
    </tr>
    <tr>
        <td>Skills </td>
        <td>
            {% for skill in skills %}
                {{ skill.name }},
            {%endfor %}
        </td>
    </tr>
    <tr>
        <td>Special Skills description</td>
        <td>{{ individual.special_skills_description }}</td>
    </tr>
    <tr>
        <td>Availabilities - time in hours</td>
        <td>{{ individual.time_length_hours }}</td>
    </tr>
    <tr>
        <td>Availabilities - time in days</td>
        <td>{{ individual.time_length_days }}
    </tr>
    {% endfor %}
    <tr>
        <td>Availabilities - section and day available</td>
        <td>
            {% for session in sessions %}
            {{ session }}, 
            {% endfor %}
        </td>
    </tr>
</table>
</div>
<div class="ms-5">
<a class="btn btn-outline-info" href="{% url 'edit' %}">Edit profile</a>
<button class="btn btn-delete btn-danger" charity_id="{{ peoples.id }}" type="submit">
    Delete all profile information
</button> 
</div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete your profile?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your profile? This action is permanent and cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/deletevolunteer.js"></script>
{% endblock %}