{% extends "base.html" %}


{% block content %}

<li>
    <a href="{% url 'add' %}">Add profile</a>
</li>
<li>
    <a href="{% url 'read' %}">See profile</a>
</li>

<h2>Your profile - {{ user.username }} {{ user.id }}</h3>



<table>
    {% for individual in people %}
    <tr>
        <td>First Name</td>
        <td>{{ individual.fname }} </td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ individual.lname }}</td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td>{{ individual.phone }}</td>
    </tr>
    <tr>
        <td>Set up profile</td>
        <td>{{ individual.created_on }}</td>
    </tr>
    <tr>
        <td>Last updated</td>
        <td>{{ individual.updated_on }}</td>
    </tr>
    <tr>
        <td>Skills </td>
        <td>
            {% for skill in skills %}
                <h4> {{ skill.name }} </h4>
            {%endfor %}
        </td>
    </tr>
    <tr>
        <td>Special Skills description</td>
        <td>{{ individual.special_skills_description }}</td>
    </tr>
    <tr>
        <td>Activated?</td>
        <td>{{ individual.activated }}</td>
    </tr>
    <tr>
        <td>Availabilities - time in hours</td>
        <td>{{ individual.time_length_hours }}</td>
    </tr>
    <tr>
        <td>Availabilities - time in days</td>
        <td>{{ individual.time_length_days }}
    </tr>
    {% endfor %}
    <tr>
        <td>Availabilities - section and day available</td>
        <td>{% for true_pair in true_pairs %}
            {{ true_pair }}</td>
            {% endfor %}
    </tr>
</table>
<button>
<a href="{% url 'edit' %}">Edit profile</a>
</button>
<button>
    <a href="{% url 'delete' %}">Delete profile</a>
    </button>
{% endblock %}