{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    {% if role_exists == False %}
        <div class="d-flex container container-height align-items-center">
            <div class="text-center col-12">
                <h2>Are you signing up as a Volunteer?</h2>
                <h3> Please sign up as a Volunteer unless specifically told otherwise</h3>
                <p> All accounts undergo activation, so don't worry if you make a mistake, your account will not be activated.<p/>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                </form>
            </div>
        </div>
        {% else %}
        <h3 class="ms-5"> You already have selected a role you will shortly be redirected to the home page. Or please click on the below button....</h3>
        <button class="btn btn-outline-info ms-5">
            <a class="nav-link" href="{% url 'login_success' %}">Your next page</a>
        </button>
        <script>
            var redirect = setTimeout(function () {
                window.location='{% url 'login_success' %}'
            }, 10000);
        </script> 
    {% endif %}
{%else%}
<h3 class="mt-5 text-center"> You are not logged in. Please either sign up or sign in using links in top right corner of page or below.</h3>
<button class="btn btn-outline-info ms-5">
    <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
</button>
<button class="btn btn-outline-info ms-5">
    <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
</button>
{% endif %}
{% endblock %}