body {
    background-color: rgb(250, 255, 247);
    margin-bottom: 5em;
    overflow-x: hidden;
}

.container-height {
    min-height: 65vh;
}

.helptext {
    color: orange;
}

.nodistort {
    width: 100%;
    object-fit: contain;
}