{% extends "base.html" %}

{% block content %}
<div class="d-flex container container-height align-items-center">
    <div class="text-center col-12">

        {% if user.is_authenticated and role == 2 %}

        <h2> Which charity do you want to update?</h2>

        <h3>Update a charity</h3>
        <form method=POST action="{% url 'search_charity' %}">
            {% csrf_token %}
            <input type="search" placeholder="charity name" aria-label="Charity name search" name="search">
            <button class="btn btn-outline-info" type="submit">Search Charity</button>
        </form>

        {% if searched %}
            <h2 class="mb-4">You searched for {{ searched }}</h2>
        {% else %}
            <h2>You need to enter a charity name</h2>
        {% endif %}

        {% if searched and content %}

            {% for alls in charity_profile_all %}
            <div class="row px-1 mb-2">
                <div class="col-4">
                    {{ alls.charity_name }}
                </div>
                <div class="col-8">
                    <a href="/charity/read_charity/{{ alls.id }}">
                        <button class="btn btn-outline-info" type="submit">Look at charity information</button> 
                    </a>
                    <a href="/charity/update_charity/{{ alls.id }}">
                        <button class="btn btn-outline-info" type="submit">Update charity information</button> 
                    </a>
                    <button class="btn btn-delete btn-danger" charity_id="{{ alls.id }}" type="submit">Delete charity information</button> 
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>This search did not find any charities</p>
        {% endif %}
                        
        {% else %}
            <h3 class="text-center">
                You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
            </h3>                 
        {% endif %}

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete charity?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this charity? This action is permanent and cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/deletecharity.js"></script>
    </div>
</div>
{%endblock%}