{% extends "base.html" %}

{% block content %}
<h2> Which charity do you want to update?</h2>

<h3>Update a charity</h3>
<form method=POST action="{% url 'search_charity' %}">
    {% csrf_token %}
    <input type="search" placeholder="charity name" aria-label="Charity name search" name="search">
    <button class="btn" type="submit">Search Charity</button>
</form>

{% if searched %}
    <h2>You searched for {{ searched }}</h2>
{% else %}
    <h2>You need to enter a charity name</h2>
{% endif %}

{% if searched and content %}
    <ul>
    {% for alls in charity_profile_all %}
    <li>{{ alls.charity_name }}
        <a href="/charity/read_charity/{{ alls.id }}">
            <button class="btn" type="submit">Look at charity information</button> 
        </a>
        <a href="/charity/update_charity/{{ alls.id }}">
        <button class="btn" type="submit">Update charity information</button> 
    </a>
    <a href="/charity/delete_charity/{{ alls.id }}">
        <button class="btn" type="submit">Delete charity information</button> 
    </a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>This search did not find any charities</p>
{% endif %}

{% if user.is_authenticated %}
<ul>    
    <li>
        <a href="{% url 'account_logout' %}">Logout</a>
    </li>
    <li>
        <a href="{% url 'add_charity' %}">Add Charity profile</a>
    </li>
    <li>
        <a href="{% url 'searchco' %}">Update a coordinator profile</a>
    </li>
</ul>
                
{% endif %}

{%endblock%}