{% extends "base.html" %}

{% block content %}
<div class="d-flex container container-height align-items-center">
    <div class="col-12">
        {% if user.is_authenticated and role == 2 %}
        <h2 class="mb-5"> Charity - {{ profile }}</h2>
        <div class=row>
            <div class="col-3">
                <h4> Charity name </h4>
            </div>
            <div class="col-3">
                <h4> {{ profile }} </h4>
            </div>
        </div>
        <div class=row>
            <div class="col-3">
                <h4> Charity description </h4>
            </div>
            <div class="col-3">
                <h5> {{ profile.charity_description }} </h5>
            </div>
        </div>
        <div class=row>
            <div class="col-3">
                <h4> Charity Associated Coordinators </h4>
            </div>
            <div class="col-3">
            {% for coord in coords %}
                <h4> {{ coord.fname }} {{ coord.lname }} </h4>
            {%endfor %}
            </div>
        {% else %}
        <h3 class="text-center">
            You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
        </h3>                 
        {% endif %}
    </div>
</div>
{%endblock%}