{% extends "base.html" %}

{% block content %}
<h2> Charity - {{ profile }}</h2>

{% if user.is_authenticated %}
<ul>    
    <li>
        <a href="{% url 'account_logout' %}">Logout</a>
    </li>
    <li>
        <a href="{% url 'add_charity' %}">Add Charity profile</a>
    </li>
    <li>
        <a href="{% url 'search_charity' %}">Update Charity profile</a>
    </li>
    <li>
        <a href="{% url 'searchco' %}">Update a coordinator profile</a>
    </li>
</ul>
                
{% endif %}

<div class=row>
    <div class="col-3">
        <h4> Charity name </h4>
    </div>
    <div class="col-3">
        <h4> {{ profile }} </h4>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Charity description </h4>
    </div>
    <div class="col-3">
        <h5> {{ profile.charity_description }} </h5>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Charity Associated Coordinators </h4>
    </div>
    <div class="col-3">
    {% for coord in coords %}
        <h4> {{ coord.fname }} {{ coord.lname }} </h4>
    {%endfor %}
    </div>

{%endblock%}