{% extends "base.html" %}
{% block content %}
<div class="d-flex container container-height align-items-center">
    <div class="d-flex align-items-center text-center col-12 flex-column">
        {% if user.is_authenticated and role == 2 %}
            <h2 class="mb-4">Activate volunteers</h2>
            <table class="table table-hover">
                {% for volunteer in volunteers_for_activation %}
                    <tr>
                        <td>Name</td><td>{{ volunteer.fname}} {{ volunteer.lname}}</td>
                        <td> <a class="btn btn-outline-info" href="/coordinator/activate_volunteer/{{ volunteer.id }}">
                            See profile and activate
                        </a>
                        </td>
                    </tr> 
                {% endfor %}
            </table>
        {% else %}
        <h3 class="text-center">
            You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
        </h3>                 
        {% endif %}
    </div>
</div>
{% endblock %}