{% extends "base.html" %}
{% block content %}
<div class="d-flex container container-height align-items-center">
    <div class="text-center col-12">
        {% if user.is_authenticated %}
            <h2>Create a profile</h2>
            <div>
            {% if CP_exists == False %}
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" id="submithold" class="btn btn-outline-info">Submit</button>
                </form>
                <script src="/static/js/validationscript.js"></script>
            {% else %}
                <h3 class="ms-5"> You already have a profile you will shortly be redirected. Or please click on a link below.....</h3>
                <button class="btn btn-outline-info ms-5">
                    <a class="nav-link" href="{% url 'login_success' %}">Your next page</a>
                </button>
                <script>
                    var redirect = setTimeout(function () {
                        window.location='{% url 'login_success' %}'
                    }, 10000);
                </script> 
            {% endif %}
            </div>
        {% else %} 
        <h3 class="mt-5 text-center"> You are not logged in. Please either sign up or sign in using links in top right corner of page or below.</h3>
        <button class="btn btn-outline-info ms-5">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
        </button>
        <button class="btn btn-outline-info ms-5">
            <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}