{% extends "base.html" %}

{% block content %}
<h2 class="text-center"> Coordinator Dashboard</h2>

{% if user.is_authenticated %}

<ul>    
    <li>
        <a href="{% url 'add_charity' %}">Add Charity profile</a>
    </li>
    <li>
        <a href="{% url 'search_charity' %}">Update Charity profile</a>
    </li>
    <li>
        <a href="{% url 'searchco' %}">Update a coordinator profile name or activate</a>
    </li>
    <li>
        <a href="{% url 'searchvol' %}">Search for a volunteer</a>
    </li>
    <li>
        <a href="{% url 'activatevols' %}">Activate volunteers</a>
    </li>
</ul>
{% else %}
<h3 class="text-center">
    You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
</h3>                 
{% endif %}

{%endblock%}