{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated and role == 2 %}

<h2 class="text-center"> Coordinator Dashboard</h2>

<p> {{ co_not_activated_count }} </p>

{% for co_not_activate in co_not_activated %}

<p> {{ co_not_activate.fname }} </p>

{% endfor %}

{{ vol_not_activated }}

<ul>    
    <li>
        <a href="{% url 'add_charity' %}">Add Charity profile</a>
    </li>
    <li>
        <a href="{% url 'search_charity' %}">Update Charity profile</a>
    </li>
    <li>
        <a href="{% url 'searchco' %}">Update a coordinator profile name or activate</a>
    </li>
    <li>
        <a href="{% url 'searchvol' %}">Search for a volunteer</a>
    </li>
    <li>
        <a href="{% url 'activatevols' %}">Activate volunteers</a>
    </li>
</ul>
{% else %}
<h3 class="text-center">
    You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
</h3>                 
{% endif %}

{%endblock%}