{% extends "base.html" %}

{% block content %}
<h2> Search for a volunteer to complete your task</h2>

<form method=POST action="{% url 'searchvol' %}">
    {% csrf_token %}
    <select>
        <option value=""><b>All activities</b></option>
    {% for activity in activity_list %}
        <option value="{{ activity }}"> {{ activity}}</option>
    {% endfor %}
    </select>   
    <button class="btn" type="submit">Search Volunteers</button>
</form>

{{ all_time_periods }}

{% for session in sessions %}
    {{ session }}
{% endfor %}

{%endblock%}