{% extends "base.html" %}

{% block content %}
<h2> Coordinator - {{ profile }}</h2>

{% if user.is_authenticated %}


<div class=row>
    <div class="col-3">
        <h4> Coordinators first name </h4>
    </div>
    <div class="col-3">
        <h4> {{ profile.fname }} </h4>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Coordinators last name </h4>
    </div>
    <div class="col-3">
        <h5> {{ profile.lname }} </h5>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Coordinators Associated charities </h4> 
    </div>
    <div class="col-3">
    {% for coord in coords %}
        <h4> {{ coord.charity_name }}</h4>
    {%endfor %}
    </div>

{% endif %}

{%endblock%}