{% extends "base.html" %}

{% block content %}
<h2> Coordinator - {{ profile }}</h2>

{% if user.is_authenticated and role.role == 2 %}
<ul>    
    <li>
        <a href="{% url 'account_logout' %}">Logout</a>
    </li>
    <li>
        <a href="{% url 'add_charity' %}">Add Charity profile</a>
    </li>
    <li>
        <a href="{% url 'search_charity' %}">Update Charity profile</a>
    </li>
    <li>
        <a href="{% url 'searchco' %}">Update a coordinator profile</a>
    </li>
</ul>
                
{% endif %}

<div class=row>
    <div class="col-3">
        <h4> Coordinators first name </h4>
    </div>
    <div class="col-3">
        <h4> {{ profile.fname }} </h4>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Coordinators last name </h4>
    </div>
    <div class="col-3">
        <h5> {{ profile.lname }} </h5>
    </div>
</div>
<div class=row>
    <div class="col-3">
        <h4> Coordinators Associated charities </h4> 
    </div>
    <div class="col-3">
    {% for coord in coords %}
        <h4> {{ coord.charity_name }}</h4>
    {%endfor %}
    </div>

{% endif %}

{%endblock%}