{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated and role == 2 %}

<h2>Update a coordinator profile</h2>

<a href="{% url 'dashboard' %}">Dashboard</a>

<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn">Update</button>
</form>

{% else %}
<h3 class="text-center">
    You are either not logged in or do not have access to this part of the site. Please log in or if this problem persists contact a supervisor.
</h3>                 
{% endif %}

{% endblock %}